:root {
    --Yellow: hsl(47, 88%, 63%);

    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 50%);
    --Black: hsl(0, 0%, 7%);

}
* {
    font-family: 'Figtree', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-shrink: 0;
}

body {
    background-color: var(--Yellow);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
p {
    color: var(--Grey);
}
.card {
    background-color: var(--White);
    max-width: 400px;
    max-height: 600px;
    border-radius: 1rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.card:hover {
    margin-top: -2rem;
    margin-left: -2rem;
    box-shadow: 10px 10px var(--Black);
}
#uppericon {
    border-radius: 1rem;
    width: 100%;
}
.status {
    background-color: var(--Yellow);
    margin: 1.5rem 0 1rem 0;
    padding: 0.3rem 1rem;
    border-radius: 5px;
    font-weight: 800;
}
#pl-date {
    margin-bottom: 1rem;
    color: var(--Black);
}
a {
    margin-bottom: 1rem;
    color: black;
    text-decoration: none;
}
a:hover {
    color: var(--Yellow);
}
#description {
    margin-bottom: 1rem;
    transition: margin 0.3s ease-in-out;
}
.ava-name {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.ava-name, .status, #uppericon, a, #pl-date {
    transition: margin 0.3s ease-in-out;
}
.ava-name:hover, #uppericon:hover, a:hover, #pl-date:hover, #description:hover {
    margin-top: -0.5rem;
    margin-left: -0.5rem;
}
.status:hover {
    margin-top: -1px;
    margin-left: -1px;
}
#lowericon {
    width: 20%;
}

@media screen and (max-width: 375px){
    .card {
        width: 350px;
    }
    h2 {
        font-size: 1.25rem;
    }
    #description {
        font-size: 0.85rem;
    }
}
